<footer class="footer footer-bg" id="footer">
    <div class="overlay"></div>
    <div class="container text-center text-md-left">
        <div class="row">
            <div class="col-md-4 footer-widget mb-md-0 mt-3 mb-2">
                <h3>LET'S GET IN TOUCH!</h3>
                <p>Thanks for visiting Ninkasi! Want to know more about this project? Shoot me an email!</p>
            </div>

            <div class="col-md-3 mb-md-0"></div>

            <div class="col-md-5 mb-md-0 mb-2 mt-3">
                <h3>Email</h3>
                <ul class="footer-list">
                    <li>
                        beerology@gmail.com
                    </li>
                </ul>
            </div>
        </div>

        <div class="row copyright">
            <div class="col-md-12 text-center">
                <small class="block">© 2020 Copyright:
                    Team Beerology
                </small>
            </div>
        </div>
    </div>
</footer>