<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="[ '/home' ]">
            ALEX LI
        </a>
        <!-- <div class="navbar-header">
            <a class="navbar-brand pt-0" routerLinkActive="active" [routerLink]="['/dashboard']">
                <img src="./assets/img/headshot.jpg" class="navbar-brand-img" alt="...">
            </a>
        </div> -->
        <div class="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li *ngFor="let headerItem of headerItems" class="{{headerItem.class}} nav-item">
                    <a routerLinkActive="active" [routerLink]="[headerItem.path]" class="nav-link">
                        {{headerItem.title}}
                    </a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://www.linkedin.com/in/alex-yuan-li/">
                        <fa-icon [icon]="['fab', 'linkedin']" size="2x"></fa-icon>
                    </a>
                    
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/yali107">
                        <fa-icon [icon]="['fab', 'github']" size="2x"></fa-icon>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>