<!-- <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
    style="min-height: 600px; background-size: cover; background-position: center top;">
    <span class="mask bg-gradient-dark opacity-8"></span>
    <div class="container-fluid d-flex align-items-center">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <p class="text-white mt-0 mb-5"></p>
            </div>
        </div>
    </div>
</div> -->
<ngx-typed-js [strings]="['DATA SCIENTIST.', 'MACHINE LEARNING ENGINEER.', 'FULLSTACK DEVELOPER.']" [typeSpeed]="40" [loop]="true">
    <h1 class="display-1">I <span style="font-size:10">AM </span> <span class="typing"></span></h1>
</ngx-typed-js>

<!-- <ngx-typed-js [strings]="['Hello, ^200 my name is Vlad. ^1000 I am a full-stack web developer.']" [typeSpeed]="40">
    <h1 class="typing"></h1>
  </ngx-typed-js> -->