<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand pt-0" routerLinkActive="active" [routerLink]="['/dashboard']">
                <img src="./assets/img/headshot.jpg" class="navbar-brand-img" alt="...">
            </a>
        </div>


        <div class="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li *ngFor="let sidebarItem of sidebarItems" class="{{sidebarItem.class}} nav-item">
                    <a routerLinkActive="active" [routerLink]="[sidebarItem.path]" class="nav-link">
                        <i class="ni {{sidebarItem.icon}}"></i>
                        {{sidebarItem.title}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>