<nav class="navbar navbar-vertical navbar-expand-md navbar-light bg-white" id="sidenav-main">
    <div class="container-fluid">
        <a class="navbar-brand pt-0" routerLinkActive="active" [routerLink]="['/dashboard']">
            <img src="./assets/img/headshot.jpg" class="navbar-brand-img" alt="...">
        </a>

        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
            <ul class="navbar-nav">
                <li *ngFor="let sidebarItem of sidebarItems" class="{{sidebarItem.class}} nav-item">
                    <a routerLinkActive="active" [routerLink]="[sidebarItem.path]" class="nav-link">
                        <i class="ni {{sidebarItem.icon}}"></i>
                        {{sidebarItem.title}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>